<%- include('../partials/boilerplate.ejs') %>

  <form method='POST' action='/auth/login'>
    <input name='username' type='text' placeholder='username' required />
    <input name='password' type='password' placeholder='password' required />
    <input type='submit' value='Login' />
  </form>

<%- include('../partials/end.ejs') %>