<header>
    <div class="header-container">
    <div class="logo">TEAM</div>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li>About</li>
            <a><Win&loss href="/teams">Win&loss</a></li>
        </ul>
    </nav>
</div>
</header>