<header>
    <div class="header-container">
    <div class="logo">TEAM</div>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li>About</li>
            <li><a href="/teams">Win and loss</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/user/new">Sign up</a></li>
        </ul>
    </nav>
</div>
</header>