<%- include('../partials/boilerplate.ejs') %>

<form method="POST" action="/teams">
<input type="text" name="name" placeholder="Teams">
<input type="number" name="win" placeholder="Win">
<input type="number" name="loss" placeholder="Loss">
<input type="submit" value="Finalizing stats">
</form>

<%- include('../partials/end.ejs') %>