<%- include('../partials/boilerplate.ejs') %>

<form method="POST" action="/teams">
<input type="text" name="team" placeholder="Team">
<input type="number" name="win" placeholder="Win">
<input type="number" name="loss" placeholder="Loss">
</form>

<%- include('../partials/end.ejs') %>