/* body {
    font-family: sans-serif;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background-color: rgb(5, 52, 105);
  }
  
  .header-container {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
    color: rgba(125, 241, 221);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  a:visited {
    color: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.5em;
    color: white;
    background-color: rgb(5, 52, 105);
  }
  
  .teams-wrapper {
    max-width: 600px;
    width: 70vw;
    margin: auto;
  }
  
  .team {
    width: 100%;
    border: 1px solid rgba(125, 241, 221);
  }
  
  .name-status, .win-actions, .loss-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }
  
  .name-status {
    border-bottom: 1px solid rgb(126, 196, 184);
  }
  
  .name-status h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .buttonlike {
    background-color:  rgba(125, 241, 221);
    padding: 5px 10px;
    border-radius: 3px;
  } */